main{

    width:900px;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;

}
header#header_ust{

    background-color:#ac6464;
    grid-column-start:1;
    grid-column-end:5;
    height:130px;

}
nav#nav_ust{

    background-color:#8f7474;
    grid-column-start:1;
    grid-column-end:5;
    height:45px;

}
footer#footer_alt{

  background-color:#808080;
    grid-column-start:1;
    grid-column-end:5;
    height:100px;
}
section.content_section{
    height:200px;
    background-color:#a72121;
    grid-column-start:1;
    grid-column-end:4;
}
main form{
    grid-column-start: 1;
    grid-column-end: 5;
}